@import url('https://fonts.googleapis.com/css2?family=Program+OT:wght@700&display=swap');

body {
  margin: 0; 
  line-height: normal;
}

:root {
  /* Color */
  --color-papayawhip: #f2e9ce;
  
  /* Font */
  --font-program-ot-bold: 'Program OT Bold';
}
